{% extends 'template.html' %}

{% block header_title %}Tools{% endblock %}
{% block header_css %}{% endblock %}

{% block content %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Tools</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block footer_scripts %}{% endblock %}